#slogan {
	color:#333333;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	text-align: center;
}

h1 {
	color: #333333;
	font-family: Inter;
	font-size: 36px;
	font-weight: 800;
	text-align: center;
}

img {

	width: 300px;

}

p {
	color: #333333;
	font-family: Inter;
	font-size: 16px;
}